@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Open+Sans&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
} 
h1 {
  font-family: 'Antic Slab', serif;
  font-size: 500%;
  color: #137752;
}


header {
	z-index: 100;
}


